@import "overrides.scss";
@import "../node_modules/bulma/bulma.sass";

:root,
body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
  @media (max-width: 768px) {
    font-size: 14px;
  }
}

// For people prone to motion sickness, smooth scrolling might be jarring. this overrides that option by listening Reduce Motion API.
@media screen and (prefers-reduced-motion: reduce) {
  :root,
  body {
    scroll-behavior: auto;
  }
}

@mixin content-section {
  padding: 5rem 1rem;
  display: block;
  width: 100%;
  margin: 0;
}

@mixin block-base {
  margin-left: $column-2;
  margin-right: $column-1;
  @media (max-width: 768px) {
    margin-left: $column-1;
  }
}

@mixin section-title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 2.5rem;
  line-height: 1.1;
  overflow-wrap: break-word;
}

.has-0-padding {
  padding: 0;
}

.has-0-margin {
  margin: 0;
}

.color-purple {
  color: $meetup-purple;
}
.color-blue {
  color: $meetup-blue;
}
.color-yellow {
  color: $meetup-yellow;
}
.color-orange {
  color: $meetup-orange;
}
.color-text-primary {
  color: $text-primary;
}
.color-text-secondary {
  color: $text-secondary;
}
.font-style-italic {
  font-style: italic;
}

.navbar {
  // min-height: 4rem;
  padding: 0 1rem;
  &.is-primary {
    box-shadow: 2px 2px 2px rgba($color: #000000, $alpha: 0.12);
  }
  @media screen and (max-width: $tablet) {
    padding: 0;
  }

  .navbar-item {
    font-weight: bold;
    text-transform: uppercase;
    font-size: small;
  }

  .navbar-burger span {
    height: 2px;
  }
}

.banner {
  @include content-section();
  background-color: $meetup-purple;
  background-image: url(../images/hero-bg-shapes-full-2.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: $text-light;

  h1 {
    font-size: 2.3rem;
    font-weight: 200;
    margin-bottom: 1.5rem;
    line-height: 1.1;
    overflow-wrap: break-word;
    @include block-base();
    span {
      font-size: 3rem;
      font-weight: 700;
      @media (max-width: 768px) {
        font-size: 2.1rem;
      }
    }
    @media (max-width: 768px) {
      font-size: 1.8rem;
    }
  }
  p {
    font-size: 1rem;
    margin-bottom: 4rem;
    @include block-base();
  }
  .button,
  button {
    font-size: 1rem;
    font-weight: bold;
    color: $meetup-purple;
    background-color: #ffffff;
    padding: 0.75rem 2rem;
    height: auto;
    @include block-base();
    border: none;
    border-radius: 0;
    text-transform: uppercase;
    box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.1);
    transition: all ease-in 0.2s;
    &:hover {
      opacity: 0.8;
      text-decoration: underline;
      box-shadow: 3px 3px 3px 4px rgba(0, 0, 0, 0.1);
    }
  }
}

.about {
  @include content-section();
  // background-color: #ffffff;
  background: linear-gradient(
        90deg,
        #ffffff (22px - 2px),
        transparent 1%
      )
      center,
    linear-gradient( #ffffff (22px - 2px), transparent 1%) center,
    #e2e2e2;
  background-size: 22px 22px;
  color: $text-primary;

  h2 {
    @include section-title();
    @include block-base();
  }
  p {
    @include block-base();
    margin-bottom: 1rem;
  }

  ul {
    @include block-base();
    padding-left: 2rem;
    list-style: disc;
    margin-bottom: 1rem;
  }
}

.speakers {
  @include content-section();
  background-color: $meetup-blue;
  background-image: url(../images/speakers-bg-shapes-full-2.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: $text-light;

  h2 {
    @include section-title();
    @include block-base();
  }

  .speakers-container {
    @include block-base();

    .speaker {
      width: $column-4;
      display: inline-block;
      padding-right: 1rem;

      @media (max-width: 768px) {
        width: $column-8;
      }

      figure {
        width: 200px;
        height: 200px;
        margin-bottom: 1rem;

        @media (max-width: 768px) {
          width: 120px;
          height: 120px;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          border-radius: 50%;
        }
      }
      h4 {
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom: 1rem;
        text-transform: uppercase;
      }
      p {
        font-size: 1rem;
        font-weight: 200;
        margin-bottom: 1rem;
      }
    }
  }
}

.agenda {
  @include content-section();
  // background-color: #ffffff;
  background: linear-gradient(
        90deg,
        #ffffff (22px - 2px),
        transparent 1%
      )
      center,
    linear-gradient( #ffffff (22px - 2px), transparent 1%) center,
    #e2e2e2;
  background-size: 22px 22px;
  color: $text-primary;

  h2 {
    @include section-title();
    @include block-base();
  }

  .agenda-container {
    @include block-base();
    position: relative;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      width: 3px;
      height: 100%;
      left: -2px;
      background-color: $meetup-orange;
    }
    li {
      margin-left: 2rem;
      margin-bottom: 3rem;
      position: relative;
      &:before {
        content: "";
        position: absolute;
        top: 1.2rem;
        left: -2.68rem;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: $meetup-orange;

        @media (max-width: 768px) {
          width: 15px;
          height: 15px;
        }
      }
      p {
        font-size: 1rem;
        font-weight: 400;
        text-transform: uppercase;
        margin-bottom: 0.2rem;
        color: $text-secondary;
      }
      h4 {
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 1rem;
      }
    }
  }
}

.team {
  @include content-section();
  // background-color: #ffffff;
  background: linear-gradient(
        90deg,
        #ffffff (22px - 2px),
        transparent 1%
      )
      center,
    linear-gradient( #ffffff (22px - 2px), transparent 1%) center,
    #e2e2e2;
  background-size: 22px 22px;
  color: $text-primary;

  h2 {
    @include section-title();
    @include block-base();
  }

  .team-container {
    @include block-base();
    li {
      width: $column-2;
      display: inline-block;
      padding-right: 2rem;
      @media (max-width: 1024px) {
        width: $column-3;
      }
      @media (max-width: 768px) {
        width: $column-4;
      }
      @media (max-width: 359px) {
        width: $column-8;
      }

      figure {
        width: 150px;
        height: 150px;
        margin: 0 auto;
        @media (max-width: 768px) {
          width: 120px;
          height: 120px;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          border-radius: 50%;
        }
      }
      p {
        margin: 1rem 0;
        text-align: center;
        font-size: 1.3rem;
        font-weight: 500;
        margin-bottom: 1rem;
        text-transform: uppercase;
      }
    }
  }
}

.contact-section {
  @include content-section();
  background-color: #e2e2e2;
  color: $text-primary;

  h2 {
    @include section-title();
    @include block-base();
  }

  iframe {
    @include block-base();
    border: 0;
    width: $column-6;
    height: 40vh;
    @media (max-width: 768px) {
      width: $column-7;
    }
  }

  .content {
    color: $text;
    @include block-base();
    width: $column-6;

    .info {
      // padding: 1rem;

      h5 {
        font-size: 1.1rem;
        font-weight: bold;
        margin-bottom: 0.6rem;
        text-transform: uppercase;
      }

      p {
        font-size: 0.9rem;
        font-weight: bold;
        color: $grey;
      }

      a {
        color: $text;
        text-decoration: none;
        color: $grey;
      }

      a:hover {
        color: $text;
        text-decoration: underline;
      }

      .social-media {
        padding: 0.6rem;
        display: inline;
        font-size: 1.6rem;
      }
    }
  }
}

footer {
  background-color: $grey-darker;
  color: $white-ter;
  font-size: 0.8rem;
  font-weight: 300;
  padding: 1rem 1rem 1rem $column-2;
  @media (max-width: 768px) {
    padding-left: $column-1;
  }
}

// .gallery {
//   width: 100%;
//   a {
//     text-decoration: none;
//     display: block;
//     float: left;
//     margin: 0 5px 5px 0;
//     width: 120px;

//     img {
//       width: 100%;
//       height: auto;
//     }
//   }
// }
